
@{
    ViewData["Title"] = "AdminLogin";
    Layout = "~/Views/Shared/AdminLoginLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="fill" style="padding-top: 20px; min-height: 517px;">
                <img src="~/image/2.png" height="auto" width="100%" />
            </div>
        </div>
    </div>
</div>
