
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div style="min-height:542px;margin-left:98px;">
    <form runat="server">
        <h3 style="float:left;color:#626262">Change Password</h3>
        <p runat="server" id="puser" style="font-size:medium;color:#003366;font-weight:600;margin-left:1050px;"></p>
        <div style="margin-top:60px;float:left;margin-left:-22px">
            <table>
                <tr>
                    <td>
                        <input type="password" id="txtpassword" placeholder="New Password" class="form-control" style="float:left" />
                        @*<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ErrorMessage="Enter Password" ControlToValidate="txtpassword" SetFocusOnError="true" ForeColor="Red"></asp:RequiredFieldValidator>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" id="txtconfirmpassword" style="float:left" placeholder="Confirm Password" class="form-control" />
                        @*<asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="Re-Enter Password" ControlToValidate="txtconfirmpassword" SetFocusOnError="true" ForeColor="Red" Display="Dynamic"></asp:RequiredFieldValidator>
                        <asp:CompareValidator ID="CompareValidator1" runat="server" ControlToValidate="txtconfirmpassword" ControlToCompare="txtpassword" SetFocusOnError="true" Display="Dynamic" ForeColor="Red" ErrorMessage="Password does not match"></asp:CompareValidator>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit"  id="btnchangepassword" class="btn btn-primary" style="margin-top:5px;width:250px;" value="Change Password"  />
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-left:500px;margin-top:20px;">
            <img src="~/image/main-slider.jpg" height="450" width="700" style="margin-top:162px;margin-left:-30px;" />
        </div>
    </form>
</div>
