
<div class="middlecontent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-md wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;" data-wow-animation-name="fadeInDown">
                    <h1>Our company at a glance</h1>
                    <p>We are a proficient Web & Mobile Applications development team with core skills in Microsoft Stack which mainly consists of Asp.net/ MS SQL Server/ .Net Framework / Azure / C# / OOPS. With underlying technologies such as Entity Framework, HTML5, Windows presentation framework (WPF), Web REST API, Sql Server Reporting services, Jquery, AJAX and many open source frameworks that can be plugged into MS Stack. We also handle hybrid mobile apps in Xamrin and PhoneGap.</p>
                </div>
            </div>
        </div>
        <div class="row wow fadeInDown servicesdiv">
            <div class="col-lg-4 col-sm-6 serviceslist">
                <div class="servicestitle graycolor">
                    <div class="servicesicn graycolor"><i class="fa fa-lightbulb-o fa-3x icons-blue"></i></div>
                    <div class="services-title"><h3>.NET Application Development</h3></div>
                    <div class="clr"></div>
                </div>
                <p>ASP.NET is a unified Web development model that includes the services necessary for you to build enterprise-class Web applications with a minimum of coding.</p>
                <p><a href="#">READ MORE <i class="fa fa-angle-right fa-1x"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 serviceslist">
                <div class="servicestitle graycolor">
                    <div class="servicesicn graycolor"><i class="fa fa-cogs fa-3x icons-blue"></i></div>
                    <div class="services-title"><h3>Software Product Development</h3></div>
                    <div class="clr"></div>
                </div>
                <p>Anthem Infotech Pvt. Ltd. with its experienced staff offers solutions and not just code or pages. We believe in the thoughtful processes, one of our core strategies is to think and do and not do and think.</p>
                <p><a href="#">READ MORE <i class="fa fa-angle-right fa-1x"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 serviceslist">
                <div class="servicestitle graycolor">
                    <div class="servicesicn graycolor"><i class="fa fa-paint-brush fa-3x icons-blue"></i></div>
                    <div class="services-title"><h3>Software Maintenance</h3></div>
                    <div class="clr"></div>
                </div>
                <p>We offer a team that will work towards minimizing your Software Maintenance cost, workout schedules and plan of action for short term and long term goals. Quite simply we are the best that team you never had.</p>
                <p><a href="#">READ MORE <i class="fa fa-angle-right fa-1x"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 serviceslist">
                <div class="servicestitle graycolor">
                    <div class="servicesicn graycolor"><i class="fa fa-globe fa-3x icons-blue"></i></div>
                    <div class="services-title"><h3>Search Engine Optimization</h3></div>
                    <div class="clr"></div>
                </div>
                <p>Search engine optimization (SEO) is the process of improving the visibility of a website in search engines via the "natural" or un-paid ("organic" or "algorithmic") search results.</p>
                <p><a href="#">READ MORE <i class="fa fa-angle-right fa-1x"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 serviceslist">
                <div class="servicestitle graycolor">
                    <div class="servicesicn graycolor"><i class="fa fa-code fa-3x icons-blue"></i></div>
                    <div class="services-title"><h3>Mobile App Development</h3></div>
                    <div class="clr"></div>
                </div>
                <p>We are a Mobile application Development company which develops smart, interesting and intelligent solutions. We deliver iOS (iPhone & iPad), Android and Windows Mobile Apps in both Native and hybrid code.</p>
                <p><a href="#">READ MORE <i class="fa fa-angle-right fa-1x"></i></a></p>
            </div>
            <div class="col-lg-4 col-sm-6 serviceslist">
                <div class="servicestitle graycolor">
                    <div class="servicesicn graycolor"><i class="fa fa-laptop fa-3x icons-blue"></i></div>
                    <div class="services-title"><h3>Website Designing Service</h3></div>
                    <div class="clr"></div>
                </div>
                <p>Anthem Infotech offer Web Designing Service either as part of a big picture solution or as standalone services, if you wish. You can either ask us to design your website for you as per your needs.</p>
                <p><a href="#">READ MORE <i class="fa fa-angle-right fa-1x"></i></a></p>
            </div>
        </div>
    </div>
</div>
