<style>
    .pwdbyanthmbtns1 {
        background-color: white;
        background-image: -moz-linear-gradient(center top, hsl(213, 100%, 45%) 0%, hsl(195, 56%, 19%) 100%);
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 4px;
        box-shadow: 0 0 2px hsl(0, 0%, 73%), 0 0 1px hsl(0, 0%, 100%) inset;
        color: #009CFF;
        font: bold 12px Arial, Helvetica, sans-serif;
        padding: 2px 5px;
        text-align: center;
        text-decoration: none;
    }
    .modal-header {
        min-height: 16.43px;
        padding: 40px 20px;
        border-bottom: 1px solid #e5e5e5;
        background: #009cff;
    }
</style>
<div class="footer">
    <div class="footer-black-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 wow fadeInDown animated" data-wow-animation-name="fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                    <fieldset class="the-fieldset" style="border: 1px solid #E0E0E0;padding-left: 120px;height: 150px;">
                        <legend class="the-legend" style="border-style: none;border-width: 0;font-size: 14px;line-height: 20px;margin-bottom: 0;color: aliceblue;width: auto;padding: 0 30px;">
                            <i class="footerinfo-icn fa fa-map-marker fa-2x icons-white"></i>
                        </legend>
                        <div class="footerinfo" style="height:153px;">
                            <p style="">
                                #11, Floor 11, Sushma Infinium,
                                Chandigarh - Ambala Highway,
                                Near Best Price
                            </p>
                            <p>Zirakpur, Punjab – 140603 India.</p>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInDown animated" data-wow-animation-name="fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                    <fieldset class="the-fieldset" style="border: 1px solid #E0E0E0;padding-left: 120px;height: 150px;">
                        <legend class="the-legend" style="border-style: none;border-width: 0;font-size: 14px;line-height: 20px;margin-bottom: 0;color: aliceblue;width: auto;padding: 0 30px;">
                            <i class="footerinfo-icn fa fa-user fa-2x icons-white"></i>
                        </legend>
                        <div class="footerinfo" style="height:153px;">
                            <p>Phone - <a href="tel:+91 9815-34-0123">+91 9815-34-0123</a></p>
                            <p>Email - <a href="mailto:info@antheminfotech.com">info@antheminfotech.com</a></p>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInDown animated" data-wow-animation-name="fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                    <fieldset class="the-fieldset" style="border: 1px solid #E0E0E0;padding-left: 120px;height: 150px;">
                        <legend class="the-legend" style="border-style: none;border-width: 0;font-size: 14px;line-height: 20px;margin-bottom: 0;color: aliceblue;width: auto;padding: 0 30px;">
                            <i class="footerinfo-icn fa fa-share-alt fa-2x icons-white"></i>
                        </legend>
                        <div class="footerinfo" style="margin-left:-100px;">
                            <div class="icn-social">
                                <a href="https://www.facebook.com/AnthemInfotech" target="_blank" class="facebook"></a>
                                <a href="https://twitter.com/antheminfotech" target="_blank" class="twitter"></a>
                                 
                                <a href="http://www.linkedin.com/company/anthem-infotech-pvt-ltd-" target="_blank" class="youtube"></a>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom" style="padding: 0px 0;border-top: 1px solid;background:#00609B;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 text">
                <p style="font-size:12px;margin: 0px; padding: 5px;color:white;">© @DateTime.Now.Year Anthem Infotech Private Limited. All rights reserved.</p>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-1">
                <p class="fcompany" style=" margin: 0px; padding: 5px; float: right; font-size: 12px;color:white">Powered by <span class="pwdbyanthmbtns1"><a href="/Home/Index" style="color: #00609B;">Anthem Infotech Pvt. Ltd.</a></span></p>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
