

<header class="header_style_1 wow fadeInDown">
    <div class="header-top" style="padding: 0px 0;">
        <div class="container">
            <div class="row">
                <div class="topinfo pull-left" style="width:39%;padding-top:10px;">
                    <div class="col-md-5"><i class="fa fa-phone fa-x icons-blue"></i><a href="tel:+91 9815-34-0123">+91 9815-34-0123</a></div>
                    <div class="col-md-6"><i class="fa fa-envelope fa-x icons-blue"></i><a href="mailto:info@antheminfotech.com">info@antheminfotech.com</a></div>
                    <div class="clr"></div>
                </div>
                <div class="header_social_style1 pull-right">
                    <div class="icn-social">
                        <a href="https://www.facebook.com/AnthemInfotech" target="_blank" class="facebook"></a>
                        <a href="https://twitter.com/antheminfotech" target="_blank" class="twitter"></a>
                         
                        <a href="http://www.linkedin.com/company/anthem-infotech-pvt-ltd-" target="_blank" class="youtube"></a>
                    </div>

                    <div class="clr"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="header-white">
        <div class="container">
            <div class="row header-data">
                <div class="col-md-4 col-xs-2 logo">
                    <a href="/Home/Index"><img src="~/images/Final-50-U.png" alt="Anthem Infotech Logo" style="height:70px;" /></a>
                    <a href="/Home/Index"><img src="~/images/Final-50-Text.png" alt="Anthem Infotech Pvt Ltd" /></a>
                </div>
                <div class="col-md-8 pull-right">
                    <section class="top-bar-section">
                        <ul id="menu-main-menu-2">
                            <li class="has-dropdown"><a href="/Home/Index">Home</a></li>
                            <li class="has-children has-dropdown">
                                <a href="/Home/AboutUs"><span>About Us</span></a>
                            </li>
                            <li class="megamenu has-children has-dropdown">
                                <a href="/Home/OurServices"><span>Our Services</span></a>

                            </li>
                            <li class="megamenu has-children has-dropdown">
                                <a href="#whatwedo"><span>What We Do</span></a>
                            </li>
                            <li class="megamenu has-children has-dropdown">
                                <a href="/Career"><span>Career</span></a>
                            </li>
                            <li class="megamenu has-children has-dropdown">
                                <a href="/OurWork"><span>Our Portfolio</span></a>
                            </li>
                            <li class="megamenu has-children has-dropdown">
                                <a href="/Brochure/Brochure"><span>Brochure</span></a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    <div class="fix-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-10 logo">
                    <a href="/Home/Index"><img src="~/images/Final-50-U.png" alt="Anthem Infotech Logo" /></a>
                    <a href="/Home/Index"><img src="~/images/Final-50-Text.png" alt="Anthem Infotech Pvt Ltd" /></a>
                </div>
                <div class="col-xs-2 pull-right res-bar">
                    <nav class="nav is-fixed" role="navigation">
                        <button class="nav-toggle"> <span class="icon-menu"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></span> </button>
                        <div class="nav-container">
                            <ul class="nav-menu menu">
                                <li class="has-dropdown"><a href="/Home/Index" class="menu-link">Home</a></li>
                                <li class="menu-item has-dropdown">
                                    <a href="/Home/AboutUs" class="menu-link">About Us</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="/Home/OurServices" class="menu-link">Our Services</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="#whatwedo" class="menu-link">What We Do</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="/Career" class="menu-link">Career</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="/OurWork" class="menu-link">Our Portfolio</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="/Brochure/Brochure" class="menu-link">Brochure</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    <!--fix header for mobile-->
    @*<div class="fix-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-10 logo">
                    <a href="/Home/Index"><img src="~/images/Final-50-U.png" alt="Anthem Infotech Logo" /></a>
                    <a href="/Home/Index"><img src="~/images/Final-50-Text.png" alt="Anthem Infotech Pvt Ltd" /></a>
                </div>
                <div class="col-xs-2 pull-right res-bar">
                    <nav class="nav is-fixed" role="navigation">
                        <button class="nav-toggle" style="height:73px;"> <span class="icon-menu"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></span> </button>
                        <div class="nav-container">
                            <ul class="nav-menu menu">
                                <li class="has-dropdown"><a href="/Home/Index" class="menu-link">Home</a></li>
                                <li class="menu-item has-dropdown">
                                    <a href="/Home/AboutUs" class="menu-link">>About Us</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="/Home/OurServices" class="menu-link">Our Services</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="#whatwedo" class="menu-link">What We Do</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="/Career" class="menu-link">Career</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="/OurWork" class="menu-link">Our Portfolio</a>
                                </li>
                                <li class="menu-item has-dropdown">
                                    <a href="/Brochure/Brochure" class="menu-link">Brochure</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>*@

</header>
